:root{

--bg-primary:#0f172a;
--bg-secondary:#1e293b;

--text-color:#ffffff;

--accent:#60a5fa;

--glass-bg:rgba(255,255,255,0.05);
--glass-border:rgba(255,255,255,0.1);

--glow-blue:#3b82f6;
--glow-pink:#ff00aa;

--transition:0.3s;

}